<!-- header.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a id="navBrand" class="navbar-brand" href="/">Trang Chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <!-- Hiển thị tên người dùng sau khi đăng nhập -->
                    <li class="nav-item">
                        <a class="nav-link nav-action" href="/hoso" data-title="Hồ Sơ">Chào, {{ current_user.get_username() }}</a>
                    </li>
                     {% if current_user.is_khach_hang %}
                        <li class="nav-item">
                            <a class="nav-link nav-action" href="thay-doi-thong-tin" data-title="Thay đổi thông tin">Thay đổi thông tin</a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="nav-item"><a class="nav-link nav-action" href="/" data-title="Trang Chủ">Trang Chủ</a></li>
                <li class="nav-item"><a class="nav-link nav-action" href="/tim-chuyen-bay" data-title="Tìm Chuyến Bay">Tìm Chuyến Bay</a></li>

                {% if current_user.is_authenticated %}
                     <li class="nav-item">
                          <a class="nav-link nav-action" href="#" data-title="Lịch sử giao dịch">Lịch sử giao dịch</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Đăng Xuất</a></li>
                {% else %}
                    <!-- Nếu chưa đăng nhập, hiển thị Đăng nhập và Đăng ký -->
                    <li class="nav-item"><a class="nav-link nav-action" href="/login" data-title="Đăng Nhập">Đăng Nhập</a></li>
                    <li class="nav-item"><a class="nav-link nav-action" href="/dangky" data-title="Đăng Ký">Đăng Ký</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>
    // Lấy nav-action links khi click
    const navLinks = document.querySelectorAll('.nav-action');
    const navbarBrand = document.getElementById('navBrand');

    // Cập nhật lại navbarBrand từ localStorage
    const savedBrand = localStorage.getItem('navbarBrand');
    const savedHref = localStorage.getItem('navbarHref');
    if (savedBrand && savedHref) {
        navbarBrand.textContent = savedBrand;
        navbarBrand.setAttribute('href', savedHref);
    }

    //Sự kiện khi chọn mục
    navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            //Đổi text, href của navBrand
            const newTitle = this.getAttribute('data-title');
            const newHref = this.getAttribute('href');
            navbarBrand.textContent = newTitle;
            navbarBrand.setAttribute('href', newHref);

            // Lưu vào localStorage để page nạp
            localStorage.setItem('navbarBrand', newTitle);
            localStorage.setItem('navbarHref', newHref);
        });
    });
</script>